<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>student</title>
</head>
<body background="https://th.bing.com/th/id/Rde1e3e8677506ca0ab9c6f140bd75d12?rik=uJny%2fufKIfWeLQ&riu=http%3a%2f%2fimg.fotomen.cn%2f2014%2f12%2fpig-09.jpg&ehk=9RR3Zc4dn6BVzVOVmdUBEV8xiSfUvTvQ6tXjuB15Ijo%3d&risl=&pid=ImgRaw">
<h1 style="text-align: center;color: chartreuse">这就是我</h1>
<h2>学号: <p><span th:text="${stu.get(0).id}"style="color: aqua;" ></span></p></h2>
<br>
<h2>姓名:<p><span th:text="${stu.get(0).name}"style="color: lightskyblue;"></span></p></h2>
<!--<h2>学号: <p><span th:text="${stu.get(1).id}"style="color: aqua;" ></span></p></h2>-->
<!--<br>-->
<!--<h2>姓名:<p><span th:text="${stu.get(1).name}"style="color: lightskyblue;"></span></p></h2>-->
<h2>种类：<p><span  style="color: crimson">^(*￣(oo)￣)^</span></p></h2>
<h2>爱好：<p><span  style="color: chocolate;size: A3">奥力给！！</span></p></h2>

</body>
</html>